/isPalindrom/nbproject/private/
/isPalindrom/build/
/bagliListeOrnekUyg/nbproject/private/
/StackDersUyg/nbproject/private/
/StackDersUyg/build/
/hashUygulamasi/nbproject/private/
/hashUygulamasi/build/
/diziKarsilastirma/nbproject/private/
/arrarComparison/nbproject/private/
/arrarComparison/build/
/test/nbproject/private/
/test/build/
/diziKontrol/nbproject/private/
/diziKontrol/build/
/agacDersUyg/nbproject/private/
/agacDersUyg/build/
